html {
  font-size: $font-base-size;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../images/fonts/SofiaProBlack.eot');
  src: url('../images/fonts/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
    url('../images/fonts/SofiaProBlack.woff') format('woff'),
    url('../images/fonts/SofiaProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../images/fonts/SofiaProBlack-Italic.eot');
  src: url('../images/fonts/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('../images/fonts/SofiaProBlack-Italic.woff') format('woff'),
    url('../images/fonts/SofiaProBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}