<div class="c-top_menu">
  <div class="c-top_menu--contents">
    <div class="c-top_menu--name"><strong>Matt Sullivan</strong>, UX/Product Designer</div>
    <nav>
      <a href="">One</a>
      <a href="">Two</a>
      <a href="">Three</a>
      <a href="">Four</a>
      <a href="">Five</a>
    </nav>
  </div>
</div>
