<div class="c-top_menu">
  <div class="c-top_menu--contents">
    <div class="c-top_menu--name"><strong>Matt Sullivan</strong>, ux/product designer</div>
    <nav>
      <a data-control="about" class="nav-items active">about</a>
      <a data-control="concert" class="nav-items">concert</a>
      <a data-control="insights" class="nav-items">insights</a>
      <a data-control="hymnal" class="nav-items">hymnal</a>
      <a data-control="vox" class="nav-items">vox</a>
    </nav>
  </div>
</div>
