<header class="c-header" role="banner">

  <div class="header-container">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <!-- a class="" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a -->
    <div class="header-title">{{ site.title | escape }}</div>

    <img class="header-nav-button" src="{{ site.baseurl }}/images/mobile_nav.svg">
    <nav class="c-nav">
      {% for post in site.posts reversed %}
        <a class="nav-items" data-control="{{ post.title | escape }}">{{ post.title | escape }}</a>
      {% endfor %}
    </nav>
  </div>
</header>