.c-footer {
  display: flex;
  justify-content: center;

  margin-top: 5rem;

  font-size: $font-copy - .2rem;

  @include bp($breakpoint) {
    margin-top: 15rem;
  }

  &--content {
    display: flex;
    justify-content: space-around;

    height: 5rem;

    width: 70vw;
    max-width: 300px;
  }
}