.c-section {
  &--about,
  &--hymnal,
  &--insights,
  &--voxdotcom,
  &--concert {

    margin-top: 5rem;
    //margin-bottom: 10rem;

    padding-top: 5rem;
    //adding-bottom: 5rem;

    @include bp($breakpoint) {

    }

    .image-container {
      overflow-x: scroll;
      padding: 1.5rem 0rem;
      margin-bottom: .5rem;

      @include bp($breakpoint) {
        //margin-bottom: 2rem;
      }

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        padding: 1.5rem;
        background: transparent;
      }
    }

    .images {
      padding-left: 1.5rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      height: 30vh;

      transition: height .3s;
      transform-origin: center center;

      &.images--active {
        height: 38vh;
      }

      @include bp($breakpoint) {
        height: 50vh;
        padding-left: calc((100% - 930px)/2);

        &.images--active {
          height: 70vh;
        }
      }

      &:hover {
        cursor: pointer;
      }

      img {
        height: 30vh;
        margin-right: 1rem;
        transition: height .3s;
        transform-origin: center center;
        border-radius: 3px;

        box-shadow: 0px 0px 15px lighten($color-text--bold,35%);

        &.active {
          height: 38vh;
        }

        @include bp($breakpoint) {
          height: 50vh;
          transition-delay: 0s;

          &.active {
            height: 70vh;
          }
        }
      }
    }

    .project {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @include bp($breakpoint) {
        width: $wrapper-width;
        margin: 0 auto;
      }
    }

    .heading {
      font-family: $font-family--heading;
      color: $color-text--bold;
      font-size: $font-heading;
      margin-bottom: 0rem;
      line-height: 9rem;
    }

    .tags {
      margin-bottom: .9rem;
      li {
        display: inline-block;
        background: $color-text;
        color: $color-white;
        font-size: 1.2rem;
        padding: .75rem 1rem;
        margin-bottom: 1.5rem;
        margin-left: -.6rem;
        //transform: skew(-10deg);
        p {
          //transform: skew(10deg);
          margin-bottom: 0;
          line-height: 1.75rem;
        }
        @include bp($breakpoint) {
          font-size: 1.4rem;
        }
      }
    }

    p {
      line-height: 2.8rem;
      margin-bottom: 1.8rem;

      @include bp($breakpoint) {
        max-width: 75rem;
      }
    }
  }
}
