.c-section {
  &--about,
  &--hymnal,
  &--insights,
  &--voxdotcom,
  &--concert {
    //border-bottom: 1px solid $color-grey;

    margin-top: 15rem;
    margin-bottom: 15rem;

    padding-top: 5rem;
    padding-bottom: 5rem;

    @include bp($breakpoint) {

    }

    .image-container {
      overflow-x: scroll;
      padding: 1.5rem;
      background: $color-text--bold;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
      }
    }

    .images {
      padding-left: 1.5rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      height: 30vh;

      transition: height .3s;
      transform-origin: center center;

      @include bp($breakpoint) {
        height: 40vh;
        padding-left: calc((100% - 930px)/2);

        &.images--active {
          height: 60vh;
        }
      }

      &:hover {
        cursor: pointer;
      }

      img {
        height: 30vh;
        margin-right: 1rem;
        transition: height .3s;
        transform-origin: center center;

        @include bp($breakpoint) {
          height: 40vh;
          transition-delay: 0s;

          &.active {
            height: 60vh;
          }
        }
      }
    }

    .project {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @include bp($breakpoint) {
        width: $wrapper-width;
        margin: 0 auto;
      }
    }

    .heading {
      font-family: $font-family--heading;
      color: $color-text--bold;
      font-size: 7rem;
      margin-bottom: 2rem;
      line-height: 6rem;

      @include bp($breakpoint) {
        font-size: 12rem;
        margin-bottom: 3rem;
        line-height: 10rem;
      }
    }

    .tags {
      margin-bottom: 1.8rem;
      li {
        display: inline-block;
        background: $color-text;
        color: $color-white;
        font-size: 1.2rem;
        padding: .75rem 1rem;
        transform: skew(-10deg);
        p {
          transform: skew(10deg);
          margin-bottom: 0;
          line-height: 1.75rem;
        }
        @include bp($breakpoint) {
          font-size: 1.4rem;
        }
      }
    }

    p {
      line-height: 2.8rem;
      margin-bottom: 1.8rem;

      @include bp($breakpoint) {
        max-width: 50rem;
      }
    }

    a {
      color: $color-text--link;
      transition: color $default-duration;
      &:hover {
        color: $color-text--hover;
      }
    }
  }
}
