.c-top_menu {
  position: fixed;
  top: 0;
  left: 0;
  background: $color-white;
  width: 100vw;
  z-index: 999;
  font-size: 1.5rem;

  border-bottom: 1px solid $color-grey;

  &--wrapper {
    @include bp($breakpoint) {
      width: $wrapper-width;
      margin: 0 auto;
    }
  }

  &--contents {
    display: flex;
    align-items: center;
    height: 5rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include bp($breakpoint) {

    }

    nav {
      a {
        cursor: pointer;
        margin-left: .25rem;
        transition: color $default-duration;
        &.active {
          //font-family: $font-family--heading;
          color: $color-text--link;
          &:hover {
            color: $color-text--link;
          }
        }
        &:hover {
          color: $color-text--hover;
        }
      }
    }

  }

  &--name {
    margin-right: auto;

    strong {
      font-family: $font-family--heading;
      color: $color-text--bold;
    }
  }
}