.c-top_menu {
  position: fixed;
  top: 0;
  left: 0;
  background: $color-white;
  width: 100vw;
  z-index: 999;
  font-size: 1.5rem;

  border-bottom: 1px solid $color-grey;

  &--nav-button {
    max-width: 18px;

    @include bp($breakpoint) {
      display: none;
    }
  }

  &--wrapper {
    @include bp($breakpoint) {
      width: $wrapper-width;
      margin: 0 auto;
    }
  }

  &--contents {
    display: flex;
    align-items: center;
    height: 5rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include bp($breakpoint) {

    }
  }

  &--nav {
    @include max-bp($breakpoint) {
      transition: all .3s !important;

      position: absolute;
      visibility: hidden;
      top: 5.1rem;
      right: 0rem;
      height: 95vh;

      background: $color-white;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      opacity: 0;

      a,p {
        padding: 1rem;
        margin: 1.5rem;
        color: $color-white;
        background: $color-text--bold;

        &:hover {
          color: $color-white !important;
        }

        &.nav--active {
          color: $color-white !important;
          background: $color-text--link;
        }
      }

      p {
        background: $color-white;
        color: $color-text--bold;

        &:hover {
          color: $color-text--bold !important;
        }
      }

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    a {
      cursor: pointer;
      margin-left: .25rem;
      color: $color-white;
      transition: color $default-duration;

      @include bp($breakpoint) {
        color: $color-text;
      }

      &.nav--active {
        //font-family: $font-family--heading;
        color: $color-text--link;
        &:hover {
          color: $color-text--link;
        }
      }

      &:hover {
        color: $color-text--hover;
      }
    }

    p {
      display: inline-block;
    }
  }

  &--name {
    margin-right: auto;
    font-size: 1.8rem;

    strong {
      font-family: $font-family--heading;
      color: $color-text--bold;
    }
  }
}