.c-header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: $background-color;
  border-bottom: 1px solid $grey-color-light;

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 1rem;

    @include media-query {
      margin: 0;
    }

    @extend %wrapper;
  }

  .header-title {
    font-family: $heading-font-family;
    color: $text-color-dark;

    font-size: 18px;

    a {
      color: $text-color-dark;
    }
  }

  .header-nav-button {
    max-width: 18px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .top,
    .middle,
    .bottom {
      height: 2px;
      background: $text-color;
      border-radius: 5px;
      transition: width $transition-time;
    }

    .top {
      width: 75%;
    }

    .middle {
      width: 90%;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .bottom {
      width: 60%;
    }

    &.active {
      .top {
        width: 95%;
      }

      .middle {
        width: 100%;
      }

      .bottom {
        width: 80%;
      }
    }

    @include media-query {
      display: none;
    }
  }
}
