.c-post {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  &--list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    a {
      text-decoration: underline;
    }

    p {
      max-width: 750px;
    }
  }

  &--space {
    margin-bottom: 4.5rem;
  }

  &--content {
    margin: 0 1rem;

    @include media-query {
      margin: 0 auto;
    }

    @extend %wrapper;

    .tags {
      margin-bottom: .9rem;
      padding-left: 0;

      li {
        display: inline-block;
        background: $text-color;
        color: #ffffff;
        font-size: 12px;
        padding: 3px 8px;
        margin-bottom: 15px;

        p {
          margin-bottom: 0;
          margin-top: 0;
        }

        @include media-query {
          font-size: 14px;

        }
      }
    }
  }
}