.c-post {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  &--list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    a {
      text-decoration: underline;
    }

    p {
      max-width: 750px;
    }
  }

  &--space {
    margin-bottom: 4.5rem;
  }

  &--content {
    margin: 0 1rem;

    @include media-query {
      margin: 0 auto;
    }

    img {
      position: relative;
      box-shadow: 0 3px 9px 0 rgba(5,34,95,0.18),
                  0 7px 21px 0 rgba(5,25,59,0.06);

      transition: all .3s;

      &:hover {
        transform: translateY(-5px) scale(1.1);
      }
    }

    @extend %wrapper;
  }
}